.button {
    padding: 8px;
    font-size: 14px;
    color: white;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    align-content: center;
}

.verde{
    background-color: green;
}